<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <h1>Playground</h1>
        <ul>
            <% for (let i=0; i<9; i++){%>
              <li>
                  <%= i %>
              </li>  
            <%}%>

        </ul>

        <% if(true){ %> 
            
            <h1>It's TRUE!</h1>
            
       <% }else{ %>
            <h1>It's FALSE!</h1>
        <% } %>    




    </body>
</html>