<html>
<head>  
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
    <header id="body-header">
        <nav>
            <ul class="horizontal-list text-center nav-menu">
                <li> 
                    <a href="#">Drug Violation</a>
                </li>
                <li> 
                    <a href="/larceny">Larceny</a>
                </li>
                <li>
                    <a href="/simple_assault">Simple Assault</a>
                </li>
                <li>
                    <a href="/vandalism">Vandalism</a>
                </li>
                <li>
                    <a href="/aggravated_assault">Aggravated Assault</a>
                </li>
                <li>
                    <a href="/Residential_Burglary">Residential Burglary</a>
                </li>
                <li>
                    <a href="/auto_theft">Auto Theft</a>
                </li>
                <li>
                    <a href="/motor_vehicle">Motor Vehicle Accident Response</a>
                </li>
                <li>
                    <a href="/robbery">Robbery</a>
                </li>
                <li>
                    <a href="/harassment">Harassment</a>
                </li>
                <li>
                    <a href="/verbal_disputes">Verbal Disputes</a>
                </li>
                <li>
                    <a href="/homicide">Homicide</a>
                </li>
                <li>
                    <a href="#">REPORT!!!</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <form action="/create-report" method="POST">
                <input type="text" name ="name" placeholder="name">
                <input type="text" name ="phone" placeholder="phone">
                <input type="text" name ="address" placeholder="address">
                <input type="text" name ="offence" placeholder="offence">
                <input type="text" name ="date" placeholder="date">
                <input type="text" name ="time" placeholder="time">
                <input type="text" name ="desc" placeholder="desc">
                <input type="text" name ="long" placeholder="long">
                <input type="text" name ="lat" placeholder="lat">
                <button type="submit">REPORT</button>
            </form>
        </div>
    </main>

    

</body>
</html>